body {
   font-family:Arial, sans-serif;
   background-color:white;/*#f6f5f4*/
}

.app{
    width: 100%;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}

.headTitle{
    padding:0 10% 0 10%;
}

.headTitle a{
    display:inline-block;
    margin-right: 10%;
    text-decoration: none;
    color: inherit;
}

.headTitle a:hover{
    color:#444444;
}

.headTitle h1{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.headTitle .title{
   white-space: nowrap;
}

.title_follow{
    white-space: nowrap;
}

 .other-username{
    font-size: 19px;
    
}


.posts{
    flex-grow: 1;
    background-color:white;
    width:70%;
    height: 100%;
    text-align:left;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 10px;
}

    .post{
    margin-bottom: 55px;
    flex-direction: column;
  }
        .post a{
            text-decoration: none;
            color: inherit;
        }

        .username{
            font-size: 19px;
            
        }
        
        .post.username{
            float: left;
            text-align: left
        }
        
        
        .edit{
            float: right;
            margin-left: auto;
            width: 52%;
        }
        
        .delete{
            float: right;
            margin-left: auto;
        }
        
        .btnEdit{
            width:42.66px;
            height:25.5px;
            font-family :Arial;
            font-size:13.3px;
            padding: 1px 6px;
            background-color: #EFEFEF;
            border-style: outset;
            border-width: 2px;
        }
        
    .images{
        margin-top: 1%;
        margin-bottom: 0;
        display: flex;
    }

    .post-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  　　height: 100px; 
      
    }
            .post-info{
                float: left;
                
            }
            
                .prefecture {
                      margin-bottom: 0;
                      font-size: 16px;
                }
                .star{
                     font-size: 15px;
                     margin-top: 5px;
                    }
            
            
            .post-icons{
                float: right; 
                margin-left: auto;
                width: 55%;
                
            }
            
                    .likes{
                        font-size: 22px;
                    }

                    
                    .liked {
                        font-weight: 900;
                        color: red; /* 赤色に設定（クラスがlikedの場合） */
                    }
                    
                    .comment{
                        font-size:16px;
                    }
                    
                    .post-icons .icon{
                        background-color: white;
                        border: none;
                        padding: 0;
                        margin:0;
                        height:24.5px;
                        width:28.12px;
                        
                    }
                    
                    .post-icons i{
                        color: black;
                        font-size: 22px;
                        
                    }
                    
                    .reply-input{
                        width:400px;
                        height:35px;
                    }
                    
                    .reply .reply-link{
                        color:dimgray;
                        font-size:12px;
                        margin-left: 2px;
                    }
                    
                    .reply .reply-link:hover{
                        color:black;
                    }
                    
                    
    
    
    .star{
        margin-top: 5px;
    }
    
    .post .place{
        padding-top: 0;
        line-height: 1;
        margin-top: 0;
        font-family: Arial, sans-serif;
        font-size: 18px;
        font-weight:bold;
    }
    
    h4{
        font-family: Arial, sans-serif;
        font-size: 18px;
    }
    .post .body{
        padding-top: 0;
        line-height: 1;
        margin-top: 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
    }
    
    .show-Comment button{
        background-color: inherit;
        border:none;
        font-size: 16px;
        color: dimgray;
        padding:0;
        
    }


.navigation{
    position: fixed;
    font-family: Arial, sans-serif;
    flex-grow: 1;
    overflow: auto;
    right: 0;
    top: 0;
    width: 34%;
    height: 100%;
    text-align: left;
    background-color: #5993A6;
    color: black;
    padding: 30px;
    margin-right: 10px;
    white-space: nowrap;
    list-style: none;
}

.navigation h1 {
    font-family: Arial, sans-serif;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.navigationMenu{
    font-family: Arial, sans-serif;
    font-size: 35px;
    line-height: 2.5;
    margin-left: 25px;
}

.navigationMenu a{
    text-decoration: none;
    color: inherit;
}

.navigationMenu a:hover{
    color:#333333;
}

@media (max-width: 768px) {
  /* 画面幅が768px以下の場合のスタイル */
  .navigationMenu,.search,.postSearch {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  /* 画面幅が576px以下の場合のスタイル */
  .navigationMenu,.search,.post {
    font-size: 20px;
  }
}

.addComment{
    width: 45%
}
.postComment-external{
    width: 5%;
    background-color: white;
    border-radius: 8px;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
  margin-right: 0.5em; /* 適宜調整 */
}

form {
  outline: none;
}

.search{
  font-size: 15px;
  padding:8px;
  border-radius: 8px;
  width:55%;
  height: 45px;
}

.postSearch{
    font-size: 10px;
    padding:7px;
    border-radius:8px;
    width:10%;
    background-color: white;
}

.logout{
    font-size: 18px;
    text-align: left;
    margin-top: 20%;
    line-height: normal;
    padding:5%;
    
}

.profile{
    margin-top: 5%;
    margin-bottom: 5%;
    flex-grow: 1;
    background-color:white;
    width:70%;
    height: 100%;
    text-align:left;
    padding-left: 0%;
    padding-right: 13%;
    margin-left: 0px;
}

.follows{
    float: right; 
    margin-left: auto;
    width: 65%;
    font-size: 30px;
    margin-top: 40px;
}
.unfollow{
    font-size: medium;
    background-color: lightgray;
    border-radius:8px;
    
}

.follow{
    font-size: medium;
    background-color: skyblue;
    border-radius:8px;
}

.edit-profile{
    float: right;
    margin-right: 25%;
}

.like-post{
   flex-grow: 1;
    background-color:white;
    width:70%;
    height: 100%;
    text-align:left;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
}

